.todo__title{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color:rgb(25, 215, 129);
}

.todos{
  display: flex;
  justify-content: center;

}


.todos__block{

}
.todo_input{
padding: 15px 10px;
width: 350px;
font-size: 20px;
font-weight: 500;
/*  */
}
.todoForm{
width: 500px;
margin: 0 auto;
}
.todo_btn{
  padding: 15px 10px;
  font-size: 20px;
font-weight: 500;
}
.todos__btn{
  margin-right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;

}
.btn{
  width: 14px;
  height: 16px;

}
.todos_item{
  padding: 5px 0;
  align-items: center;
  display: flex;
  background-color: #fff;
}